/* --------------------------------------------------------------------------- */
/* General Styles */
/* --------------------------------------------------------------------------- */

body {
   font-family: var(--ff-primary);
   font-size: var(--fs-body);
   font-weight: 600;
   color: var(--color-primary);
}

/* Skip to main content link */ 
.skip-to-main-content {
   color: white;
   background-color: black;
   position: absolute;
   top: 0;
   left: 0.5rem;
   padding: 1em;
   z-index: 999;
   transform: translateY(-120%);
   opacity: 0;
   transition: all 0.3s;
}

.skip-to-main-content:focus {
   transform: translateY(0);
   opacity: 1;
}