/* --------------------------------------------------------------------------- */
/* Body */
/* --------------------------------------------------------------------------- */

body {
   font-family: var(--ff-primary);
   font-size: var(--fs-body);
   font-weight: 600;
   color: var(--color-primary);
}