/* --------------------------------------------------------------------------- */
/* CSS Reset */
/* --------------------------------------------------------------------------- */

/* Box sizing rules */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

/* Remove default margin and padding */
* {
   margin: 0;
   padding: 0;
}

/* Set core root defaults */
html {
   scroll-behavior: smooth;
}

/* Set core body defaults */
body {
   min-height: 100vh;
   line-height: 1.5;
}

/* Make images easier to work with */
img,
picture,
figure,
svg {
   display: block;
   max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
   list-style: none;
}

/* Added to body. This makes transitions only after page load. Later removed using JS */
.preload * {
   -webkit-transition: none !important;
   -moz-transition: none !important;
   -ms-transition: none !important;
   -o-transition: none !important;
   transition: none !important;
 }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
  }
  
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}
