/* --------------------------------------------------------------------------- */
/* Typography */
/* --------------------------------------------------------------------------- */

.heading-1,
.heading-2,
.heading-3 {
   font-family: var(--ff-secondary);
}

.heading-1 {
   font-size: var(--fs-heading-1);
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

.heading-2,
.heading-3 {
   line-height: 1.3;
}

.heading-2 {
   font-size: var(--fs-heading-2);
   font-weight: 900;
}

.heading-3 {
   font-size: var(--fs-heading-3);
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.1em;
}