:root {
   --color-darker-blue: hsl(233, 47%, 7%);
   --color-dark-blue: hsl(244, 38%, 16%);
   --color-soft-violet: hsl(277, 64%, 61%);
   --color-transparent-voilet: hsla(277, 89%, 34%, 0.6);
   --color-transparent-white-1: hsla(0, 0%, 100%, 0.75);
   --color-transparent-white-2: hsla(0, 0%, 100%, 0.6);
   --color-white: hsl(0, 0%, 100%);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   box-sizing: border-box;
}

body {
   font-family: "Inter", sans-serif;
   font-size: calc(15rem / 16);
   font-weight: 400;
   line-height: 1.5;
   background-color: var(--color-darker-blue);
   color: var(--color-transparent-white-1);
}

a:link,
a:visited {
   color: var(--color-transparent-white-2);
}

a:hover,
a:active {
   text-decoration: none;
}

.main {
   min-height: 90vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

/********** Stats Card **********/

.stats-card {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   background-color: var(--color-dark-blue);
   max-width: calc(900rem / 16);
   border-radius: 5px;
   margin: calc(20rem / 16);
}

@media only screen and (max-width: 749px) {
   .stats-card {
      grid-template-columns: 100%;
      grid-template-rows: auto auto;
   }
}

/* Content Box */

.stats-card__content {
   padding: calc(60rem / 16) calc(50rem / 16);
}

@media only screen and (max-width: 749px) {
   .stats-card__content { 
      padding: calc(40rem / 16) calc(35rem / 16); 
      text-align: center;
   }
}

.stats-card__heading {
   font-size: calc(30rem / 16);
   font-weight: 700;
   line-height: 1.3;
   color: var(--color-white);
   margin-bottom: calc(30rem / 16);
}

.stats-card__heading span {
   color: var(--color-soft-violet);
}

.stats-card__text {
   margin-bottom: calc(35rem / 16);
}

@media only screen and (max-width: 550px) {
   .stats-card__text {
      margin-bottom: calc(25rem / 16);
   }
}

.stats-card__statistics {
   list-style: none;
   display: flex;
   justify-content: space-between;
}

@media only screen and (max-width: 550px) {
   .stats-card__statistics {
      flex-direction: column;
      align-items: center;
      gap: calc(25rem / 16);
   }
}

.stats-card__data {
   font-size: calc(25rem / 16);
   font-weight: 700;
   color: var(--color-white);
   padding: calc(10rem / 16) 0;
}

.stats-card__details {
   font-family: "Lexend Deca", sans-serif;
   font-size: calc(13rem / 16);
   text-transform: uppercase;
   color: var(--color-transparent-white-2);
}

/* Image Box */

.stats-card__image-box {
   position: relative;
}

@media only screen and (max-width: 749px) {
   .stats-card__image-box { grid-row: 1 / 2; }
}

.stats-card__image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 749px) {
   .stats-card__image { border-radius: 5px 5px 0 0; }
}

.overlay {
   position: absolute;
   content: "";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: var(--color-transparent-voilet);
   border-radius: 0 5px 5px 0;
}

@media only screen and (max-width: 749px) {
   .overlay { border-radius: 5px 5px 0 0; }
}

/********** Footer **********/

.attribution {
   font-size: calc(13rem / 16);
   text-align: center;
   color: var(--color-transparent-white-2);
   padding: calc(20rem / 16);
}