/* --------------------------------------------------------------------------- */
/* Button */
/* --------------------------------------------------------------------------- */

.btn {
   display: inline-block;
   background-color: var(--color-yellow);
   color: var(--color-blue-800);
   font-size: var(--fs-16);
   font-family: var(--ff-secondary);
   text-transform: uppercase;
   text-decoration: none;
   padding: 1em 2.5em;
   border-radius: 10em;
   transition: all 0.3s;

   &:hover {
      background-color: var(--color-yellow-400);
   }
}

@media (min-width: 50em) {
   .btn {
      background-color: var(--color-white);
   
      &:hover {
         background-color: var(--color-white-200);
         color: var(--color-white);
      }
   }
}