/* --------------------------------------------------------------------------- */
/* Social Links */
/* --------------------------------------------------------------------------- */

.social-links {
   display: flex;
   align-items: center;
   gap: 1.5em;
}